
@{
    ViewData["Title"] = "How to read tyre size";
}

<h1 style="text-align:center; font-weight:bold">@ViewData["Title"]</h1>
<br />
<br />

<article class="rich-text__text">
    <p>Installing the right tyres on your vehicle is important to the overall performance and safety of your vehicle. Your tyre choice should reflect the conditions in which you drive and your preferences for vehicle response and handling. You should understand what tyre size is right for your vehicle to be able to make the right choice when it's time to buy tyres.</p>
    <p>Thankfully, determining the correct tyre size for your vehicle is fairly simple. All the information you need is immediately available either in the owner’s manual for your vehicle or somewhere within the vehicle itself.</p>
    <p>While actual, physical measurements like width and diameter are factors in finding the right tyre size, there are additional details you should consider. Things like load index and speed rating are also integral to finding the correct tyres.</p>
    <h2>Where to Find Tyre Size</h2>
    <p>No matter what vehicle you drive, finding the manufacturer-recommended tyre size should be easy. The best place to start looking is the owner’s manual.</p>
    <p>Don’t worry if you can’t locate the manual; you may also find a tyre fit guide in these locations:</p>
    <ul>
        <li>The driver’s side door jamb</li>
        <li>Inside your glove box compartment</li>
        <li>Within your petrol tank hatch</li>
    </ul>
    <p><img src="/content/dam/bridgestone/consumer/bst/research/find-tire-size.png" alt="Find your tire size"></p>
    <p>Assuming your current tyres are the originally fitted, you can find tyre size data on the sidewall of your tyres. However, no matter where you find your tyre size, you will have to decipher a sequence of numbers and letters.</p>
    <h2>How to Read Tyre Size</h2>
    <p>Let’s take a look at what each number or letter stands for, one by one, in the order they appear in your tyre size data. We'll be using this tyre size as an example: 225/70/R16 91S.</p>
    <p>
        <img src="~/img/TyreSize.png" /> >
    </p>
    <h3>The Letters “P” and “LT”</h3>
    <p>For most vehicles, you’ll see the letter “P” before the number sequence begins: P225/70R16 91S. The “P” is short for “P-metric” which is a designation by the Tyre and Rim Association for a “passenger car” tyre type. This signifies the tyre was designed to primarily be used on passenger vehicles, which can include cars, minivans, SUV’s, and other light duty pickup trucks. If you see “LT” instead of “P,” it’s because you need “light truck” tyres – “LT” is short for “LT-metric” which is a designation by the Tyre and Rim Association for a “light truck” type tyre. Light truck tyres are designed to be used on vehicles capable of carrying heavy cargo or pulling trailers.</p>
    <p>Similarly, “T” stands for “temporary” and is for your spare tyre. If you see “ST,” that means “special trailer.”</p>
    <h3>Width</h3>
    <p>The first number to appear in your tyre size information is the width, in millimeters, of the correct tyres for your vehicle:&nbsp;<b>225</b>/70/R16 91S.</p>
    <p>Tyre width always refers to the measurement from one sidewall to another. Thus, a tyre with the measurement “P225” is for a passenger vehicle and has a nominal width of 225 millimetres.</p>
    <h3>Aspect Ratio</h3>
    <p>After the slash mark, the next number you see is for the tyre’s aspect ratio, which essentially tells you how tall your tyre’s profile is: 225/<b>70/</b>R16 91S. Aspect ratios are delivered in percentages. Tyre makers calculate the aspect ratio by dividing a tyre’s height off the rim by its width. If a tyre has an aspect ratio of 70, it means the tyre’s height is 70% of its width.</p>
    <p>Lower aspect ratio tyres, such as a 45 series, generally offer vehicle handling performance advantages over higher aspect ratio tyres, such as a 55 series.</p>
    <h3>Construction</h3>
    <p>After the aspect ratio comes a letter that indicates the type of internal construction maintaining your tyre’s stability: 225/70/<b>R</b>16 91S.</p>
    <p>There are two types of construction that you may see on the sidewall of a tyre:</p>
    <ul>
        <li><b>R</b> – Radial</li>
        <li><b>D</b> – Diagonal or Bias Ply</li>
    </ul>
    <p>Radial construction means the tyre’s internal ply cords are oriented in a radial direction, from one bead over to the other, essentially perpendicular to the axis of rotation.</p>
    <h3>Rim Diameter</h3>
    <p>The next number is the diameter code, in inches, of the rim onto which the tyre can be mounted. For example, a tyre with the 225/70/R<b>16</b> 91S would fit a rim with a 16-inch diameter.</p>
    <h3>Load Index</h3>
    <p>The next figure in the sequence is your tyre’s load index, which tells us how much weight, in kilograms, the tyre can support when fully inflated:&nbsp;225/70/R16 <b>91</b>S</p>
    <p>We call it the load “index” because the number doesn’t tell us the precise number of kilograms the tyre can carry, at least not by itself. However, the number does correspond to a specific load capacity listed in an index. Beginning with 60 and ending with 179, numbers in the load index represent carrying capacities of 250 to 7750 kilograms.</p>
    <h3>Speed Rating</h3>
    <p>The final figure in a tyre size sequence is the speed rating, which is indicated by a letter: 225/70/R16 91<b>S</b>. Just as your load index number corresponds to a particular load, your speed rating letter corresponds to a particular speed capability based on a standardised laboratory test.</p>
    <p>For example, a tyre with speed rating “S” is rated for up to 180 km/h, while a tyre rated “R” is up to 170 km/h. Remember that this isn’t a recommended cruising speed. Of course, you should always follow legal speed limits on the road.</p>
    <p>Tyres with higher the speed ratings, tend to offer increasing handling performance. Replacement tyres must have similar or higher speed rating to maintain vehicle speed capability. If a vehicle has tyres with different speed ratings, it is the speed rating of the “slowest” tyre that dictates the vehicle top speed.</p>
</article>