@model IEnumerable<ItemDTO>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductType.ToString()</td>
                <td>@item.Price.ToMoney()</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </tbody>
</table>
<br />

<div>
    <span style="font-weight:bold">Total:</span> @Model.Sum(i => i.Price * i.Quantity).ToMoney()
</div>
<br />