@model CartDTO
@{
    ViewData["Title"] = "My cart";
}

<div>
    <a class="btn btn-primary" asp-area="Products" asp-controller="Sell" asp-action="GetOrders">My orders</a>
</div>
<br />

<h1>@ViewData["Title"]</h1>
<br />

@await Html.PartialAsync("~/Areas/Products/Views/Sell/_ItemsTable.cshtml", Model.Items)

<a class="btn btn-success" asp-area="Products" asp-controller="Sell" asp-action="Ordering">Order</a>
